body {
    font-family: Arial, Sans-Serif;
}
.jumbotron {
    background: rgba(221, 246, 248, 0.86) !important;
    width: 40%;
}
.indexBackGround {
    background-image: url("../images/slider-Training.jpg");
    height: 500px; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: darkgray;
}
.table {
    width: 50% !important;
    background-color: lightgrey;
}
.upDateLabel {
    background-color: transparent !important;
    border: none !important;
}
.updateList {
    position: relative;
    top: 10px;
    width: 50%;
}
.borderless th {
    border: none !important;
}
.logIn {
    position: relative;
    top: 100px;
}
.indexCSS {
    position: relative;
    top: 20px;
    width: 20%;
    background: rgba(76, 175, 80, 0.9);
}
.signUpCSS {
    position: relative;
    top: 10px;
    width: 30%;
}
.readCSS {
    position: relative;
    top: 20px;
    width: 15%;
}
.classList {
    position: relative;
    top: 20px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

a {
    color: #0067ab;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.form {
    width: 300px;
    margin: 0 auto;
}

input[type='text'], input[type='email'],
input[type='password'] {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    background-color: darkgray;
}

input[type='submit'] {
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0,0,0,0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}

    input[type='submit']:hover {
        background-color: #024978;
    }

ul {
    list-style-type: none;
}

.btn-primary {
    color: lightgray !important;
}
.tables {
    width: 100%;
}
h1, h2, h3 {
    text-shadow: 1px 1px white;
}

.footer {
    position: relative;
    top: 300px
}
img.imgContainer {
    max-width: 50%;
    height: auto;
}
.studentSignUpCSS {
    width: 30% !important;
    background-color: rgba(221, 246, 248, 0.86) !important;
}
